// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Red+Rose:wght@300;700&display=swap');

// Variables for main game board
$main-background-color: #4287f5;
$main-font: 'Red Rose', cursive;
$game-board-border: 5px solid black;
$game-font: 'Permanent Marker', cursive;
